.error {
  color: red;
  padding: 20px;
  text-shadow: 1px 1px #F68D2E;
  font-size: 26px;
}

.container-fluid {
  /* padding: 20px; */
}

.weather {
  box-shadow: 0px 1px 10px 0px;
  /* overflow: hidden; */
  /* padding: 20px; */
  color: white;
}

.info {
  border-right: 3px solid white;
  height: 100%;
}

.city {
  font-size: 26px;
}

.temp {
  font-size: 56px;
}

.wind {
  font-size: 24px;
}

.icon .title {
  text-align: center;
  font-size: 32px;
}

.icon .sub {
  text-align: center;
  font-size: 24px;
}

@media (max-width: 576px) {

  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .info {
    border-bottom: 3px solid white;
    width: 100%;
    border-right: 0px;
  }
}

.iconImage {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.flag {
  /* width: 50%; */
  width: auto;
  height: auto;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}