.error {
  color: red;
  padding: 20px;
  text-shadow: 1px 1px #F68D2E;
  font-size: 26px;
}

.weather {
  box-shadow: 0px 1px 10px 0px;
  overflow: hidden;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
.row-flex {
  width: 100%;
}

.picTure {
  opacity: 0.5;
}

.post-content {
  background: none repeat scroll 0 0 #FFFFFF;
  top:0;
  left:0;
  position: absolute;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.info {
  border-right: 3px solid white;
  height: 100%;
}

.city {
  font-size: 26px;
  opacity: 1.0;
  padding-right: 0px;
}

.temp {
  font-size: 56px;
  opacity: 1.0;

}

.wind {
  font-size: 24px;
}
.imageContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: lightblue;
  height: 200px;
}
.icon {
  margin: 0 auto;
	display: grid;
	grid-template-columns: 100%;
  grid-auto-rows: 33.33%;
  align-items: center;
}

.icon .section{
  flex: 1;
}
.icon .title {
  text-align: center;
  font-size: 32px;
}

.icon .sub {
  text-align: center;
  font-size: 24px;
}

@media (max-width: 576px) {

  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .info {
    border-bottom: 3px solid white;
    width: 100%;
    border-right: 0px;
  }
}

.iconImage {
  width: 25%;
  /* max-width: 100px; */
  height: auto;
}

.iconImageSmall {
  width: 25px;
  /* max-width: 100px; */
  height: auto;
}

.flag {
  /* width: 50%; */
  width: auto;
  height: auto;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

.myContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: lightblue;
  height: 200px;
}

.row-flex {
  width: 100%;
}