.App {
  /* text-align: center;
  padding: 10px; */
  
}
.addButton {
  opacity: 0;
  transition:  0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.App:hover .addButton {
  opacity: 1;
}

.iconImage {
  width: 20%;
  height: auto;
}

.imageColumn{
  background-position: top left;	
  background-size: 100%;	
  background-repeat: repeat; 
  opacity: 0.7;
}


.caption {
  background: none repeat scroll 0 0 #FFFFFF;
  position: absolute;
}

.maxBright {
  filter: brightness(100%);
}
